* {
  text-align: center;
}
body {
  border: 13px solid yellow;
  border-width: 5px 40px 20px;
  border-style: dashed double solid;
  border-radius: 30px 30px;
  background: green url(paper.gif) no-repeat right center ;
}

/*komntar vo css*/

.first-heading {
  color: darkred;
}

h1 {
  color: green;
}

p,
h1 {
  color: darkred;
}
 h2 {
   background: whitesmoke;
   text-transform: uppercase;
   padding: 8px;
  }
#paragraph {
  color: blue
}

.color-text {
  color: yellow;
}
.lastp {
  background: dodgerblue;
  border: 5px solid black;
  padding: 2px;
}
.pretposleden {
  border: 4px dashed black;
  color: rgba(222,333,444,0.9);
  background: rgb(255,99,71);
}
.secondp {
  border-top: 30px dotted blue;
}