* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;

}

header {
    text-transform: uppercase;
    text-align: center;
    height: 150px;
    line-height: 150px;
    background: yellowgreen;
}

h2 {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}

.custom-div-1 {
    border: 1px solid red;
}

/*
.custom-div .custom-div-1 h1 {
    color: blue;
}*/

/*.custom-div ~ h1 {
    color: blue;
}

.custom-div-1 {
    border: 1px solid;
}

*/
/* section *:first-child {
    color: orange;
}

section h1:last-child {
    color: red;
}

section h1:nth-child(3n) {
    color: green
}




.custom-before {
    border: 1px solid red;
}
.custom-before::before {
    content: '';
    border: 2px solid black;
}

.custom-before::after {
    content: '';
    border: 1px solid blue;
} */

/* .custom-div p {
    color: red;
}

.custom-div>p {
    border: 1px solid blue;
}

.custom-div~p {
    color: red;
}
 */
.custom-div {
    position: relative;
    margin: 0 auto;
    background: yellow;
    height: 300px;
    width: 300px;
    box-shadow: 2px 3px 7px black;

}

.custom-div h1 {
    margin: 0;
    position: absolute;
    background-color: red;
    /*  height: 100px;
    width: 100px; */
    top: 50%;
    left: 50%;
    /*  margin-top: -50px;
    margin-left: -50px; */
    /*  transform: translate(-50%, -50%); */
    transform: skew(5deg);
    transition: all 0.25s ease-in-out;
    box-shadow: 4px 4px 7px black;
}

.custom-div h1:hover {
    background: blue;
    color: white;
}
.clearfix:before, 
.clearfix:after{ content: '', display:table;}
.clearfix:after {clear: both;}

@media screen and (min-width: 700px) {
    .custom-div h1 {
        font-size: 50px;
        text-shadow: 2px 2px green;

    }
}














footer {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    height: 100px;
    line-height: 100px;
    background: rgb(14, 2, 2);
    text-align: center;
}