* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}

.custom-list {
    list-style-type: circle;
    list-style-image: url(icon.png);
    list-style-position: inside;
    box-shadow: 2px 2px 5px red;

}

.custom-list {
    list-style: circle inside url(icon.png);
    box-shadow: 2px 2px 5px red;
    display: block;
}

.custom-list2 li {
    list-style: none;
    display: inline-block;
    box-shadow: 2px 2px 5px blue;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    transition: .5s ease;
}
.custom-list2 li:hover {
background: paleturquoise;
box-shadow: 2px 2px 5px paleturquoise;
color: red;
}

.custom-list3 {
    list-style-type: upper-roman;

}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.custom-table td {
    height: 50px;
    border: 1px solid black;
    vertical-align: bottom ;
    padding: 10px;
}
.custom-table1 {
    width: 90%;
    margin: 5px auto;
}
.custom-table1, td {
    
    border: 2px solid green;
    border-collapse: collapse;
   }

   .td1 {
       padding: 15px;
       text-align: right;
       background: lightblue;
   }
   strong {
       display: block;
   }
   .prvh1 {
       visibility: hidden;;
   }
   .vtorh1 {
       display: none;
   }
    a {
        background: paleturquoise;
        padding: 5px 16px;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        box-shadow: 3px 3px 5px blue;
        transition: all .5s ease;
    }
    a:hover {
        background: red;
        color: white;
    }